<h1><%= @client.clientname %></h1>
<h4>AM: <%= @client.AM_name %></h4>
<h4>PM/AC: <%= @client.PM_or_AC_name %></h4>

<table>
  <th>A schedule and costs goes here</th>
  <th>Week</th>
  <th>Cost</th>
  <tr>
    <td>Dummy Show</td>
    <td>Dummy Week</td>
    <td>Dummy Cost</td>
  </tr>
</table> 
