

  <h3>Clients</h3>
    <ul>
      <% @clients.each do |y| %>
      <li><a href="<%= client_path(y.id)%>"><%= y.clientname %></a> </li>
      <% end %>
    </ul>

    <a href="<%=new_client_path%>" class="btn btn-default" role="button">Add a Client</a>