<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class = "jumbotron">
		<h2>Rock. Paper. Scissors.</h2>
		Pick your weapon.

		<br>
		<a href='/make_answer?my_weapon=rock'>Rock</a>
		<br>
		<a href='/make_answer?my_weapon=paper'>Paper</a>
		<br>
		<a href='/make_answer?my_weapon=scissors'>Scissors</a>
		<code>#{params.inspect}</code>
		</div>
	</div>
</body>
</html>