<div class="container">

	<div class="dogprofiles">
		<ul>
			<% @dogs.each do |m| %>
			<li>
			<a href="/dogs/<%= m.id %>"> <%= m.name %> <img src="<%=m.img_url%>" width="200px">  </a>
			</li>
		</ul>
			<% end %>
	</div>

</div>